{% extends 'layout.html' %}
{% block content %}
  <!-- Form
  ================================================== -->

  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <form action="" method="post" enctype="multipart/form-data">
          <div id="drag-drop-area">
            <div class="drag-drop-inside">
              <p class="drag-drop-info">ここにファイルをドロップ</p>
              <p class="drag-drop-info">もしくは</p>
              <input type="file" id="hidden-file-upload" multiple>
              <div class="drag-drop-button-wrapper">
                <button id="file-upload" class="btn btn-default drag-drop-info">ファイルを選択</button>
              </div>
            </div>
          </div>
          <div class="now-loading"></div>
          <ul id="filelist" class="list-group"></ul>
        </form>
      </div>
    </div>
  </div>

</div>

<script src="/static/js/dnd.js"></script>

{% endblock %}